.settings_page_wpus-options .admin-notice {
	background-color:lightYellow;
	border:1px solid #E6DB55;
	padding:10px 20px 20px 20px;
}
.settings_page_wpus-options .wpus-options.ui-tabs-nav {
	border-bottom:1px solid #ccc;
	height:27px;
	margin:20px 0;
	padding:0;
}

.settings_page_wpus-options .button.validate {
	margin-left: 6px;
}
.settings_page_wpus-options .loading {
	background: url('../img/loader-small.gif') no-repeat 0 5px;
	margin-left: 10px;
	display: inline-block;
	width: 16px;
	height: 22px;
	opacity: 0.7;
	position: absolute;
}

.settings_page_wpus-options .description {
	width: 600px;
	display: block;
}


.settings_page_wpus-options .ui-tabs-nav li {
	display:block;
	float:left;
	margin:0;
}

.settings_page_wpus-options .ui-tabs-nav li a:focus, .settings_page_wpus-options .ui-tabs-nav li a:active {
	outline: none;
}

.settings_page_wpus-options .ui-tabs-nav li a {
	font-weight:bold;
	border-style:solid;
	border-color:#CCC #CCC #F9F9F9;
	border-width:1px 1px 0;
	color:#C1C1C1;
	text-shadow:rgba(255, 255, 255, 1) 0 1px 0;
	display:inline-block;
	padding:4px 14px 6px;
	text-decoration:none;
	margin:0 6px -1px 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-top-left-radius:5px;
	-khtml-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.settings_page_wpus-options .ui-tabs-nav li.ui-tabs-selected a,
.settings_page_wpus-options .ui-tabs-nav li.ui-state-active a {
	border-width:1px;
	color:#464646;
	padding-bottom:7px;
	background:white;
}

.settings_page_wpus-options .ui-tabs-panel {
	clear:both;
}

.settings_page_wpus-options .ui-tabs-panel h3 {
	font:italic normal normal 24px/29px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	margin:0;
	padding:0 0 5px;
	line-height:35px;
	text-shadow:0 1px 0 #fff;
}

.settings_page_wpus-options .ui-tabs-panel h4 {
	font-size:15px;
	font-weight:bold;
	margin:1em 0;
}

.settings_page_wpus-options .wrap h3, .wrap table {
	display:none;
}

.settings_page_wpus-options .widefat th.tax .checked {
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	background-color:#D2E6FD;
	background-image:-moz-linear-gradient(top, #D2E6FD, #B0D1F9);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#D2E6FD), to(#B0D1F9));
	background-image:linear-gradient(top, #D2E6FD, #B0D1F9);
	border:1px solid #6EADF5;
	border-radius:16px;
	height:20px;
	padding:0 8px 0 18px;
	display:inline-block;
	line-height:20px;
	position:relative;
	color:#333;
	font-size:10px;
	text-transform:uppercase;
	font-family:Arial, sans-serif;
	font-weight:bold;
}
.settings_page_wpus-options .widefat th.tax .checked .VS-icon-cancel {
	background-image:url(../img/icons.png);
	background-position:0 -11px;
	height:11px;
	position:absolute;
	left:4px;
	top:4px;
	width:11px;
	opacity:0.4;
	cursor:pointer;
}
.settings_page_wpus-options .widefat th.tax .VS-icon-cancel:hover {
	opacity:1.0;
}

.settings_page_wpus-options input.invalid {
	border:1px solid #D22;
}
.settings_page_wpus-options input.valid {
	background:url(../img/tick.png) no-repeat 278px 2px;
}

.settings_page_wpus-options .disabled {
	opacity:0.4;
}

.settings_page_wpus-options h4.notice {
	position:absolute;
	left:30%;
	top:200px;
	display:block;
	background-color:#fff;
	padding:40px;
	border:1px solid #6EADF5;
	z-index:99;
}

.settings_page_wpus-options .postbox-container h3 {
	font-size: 15px;
	font-weight: normal;
	padding: 7px 10px;
	margin: 0;
	line-height: 1;
}

.settings_page_wpus-options .postbox-container {
	position:absolute;
	width:280px;
	right: 80px;
	top:180px;
	z-index:99;
}

.settings_page_wpus-options .postbox-container a {
	text-align:center;
	display:block;
}

.settings_page_wpus-options .postbox-container ul {
	margin-left: 20px;
	list-style: disc;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:99999;
}

#tiptip_holder.tip_top {
	padding-bottom:5px;
}

#tiptip_holder.tip_bottom {
	padding-top:5px;
}

#tiptip_holder.tip_right {
	padding-left:5px;
}

#tiptip_holder.tip_left {
	padding-right:5px;
}

#tiptip_content {
	font-size:11px;
	color:#fff;
	text-shadow:0 0 2px #000;
	padding:4px 8px;
	border:1px solid rgba(255, 255, 255, 0.25);
	background-color:rgb(25, 25, 25);
	background-color:rgba(25, 25, 25, 0.92);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0 0 3px #555;
	-webkit-box-shadow:0 0 3px #555;
	-moz-box-shadow:0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position:absolute;
	border-color:transparent;
	border-style:solid;
	border-width:6px;
	height:0;
	width:0;
}
.settings_page_wpus-options .tooltip {
	width:14px;
	height:14px;
	display:inline-block;
	margin-left:6px;
	background:url(../img/tooltip.png) no-repeat center center;
	opacity:0.5;
}
.settings_page_wpus-options .tooltip:hover {
	opacity:0.9;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color:#fff;
	border-top-color:rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color:#fff;
	border-bottom-color:rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color:#fff;
	border-right-color:rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color:#fff;
	border-left-color:rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top:-7px;
	margin-left:-6px;
	border-top-color:rgb(25, 25, 25);
	border-top-color:rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top:-5px;
	margin-left:-6px;
	border-bottom-color:rgb(25, 25, 25);
	border-bottom-color:rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-5px;
	border-right-color:rgb(25, 25, 25);
	border-right-color:rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-7px;
	border-left-color:rgb(25, 25, 25);
	border-left-color:rgba(25, 25, 25, 0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding:4px 8px 5px 8px;
		background-color:rgba(45, 45, 45, 0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color:rgba(45, 45, 45, 0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color:rgba(20, 20, 20, 0.92);
	}
}
